body {
  background-color: #f5f5f5;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.list-group-item {
  background-color: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.list-group-item:hover {
  background-color: #f2f2f2;
  text-decoration: none;
}

.link-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.list-group-item i {
  margin-right: 5px;
}

.footer {
  margin-top: 5% !important;
  margin-bottom: 10px;
}
@media (max-width: 479px) {
  .footer {
    margin-top: 35% !important;
  }
}

#commits h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#commits .list-group {
  list-style: none;
  padding: 0;
}

#commits .list-group-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#commits .list-group-item:last-child {
  border-bottom: none;
}

#commits .list-group-item p {
  margin: 0;
}

#commits .list-group-item .commit-date {
  font-weight: bold;
  margin-right: 10px;
}

#commits .list-group-item .commit-count {
  padding: 4px 8px;
  border-radius: 4px;
}

/* Restyled commit counts */
#commits .list-group-item .commit-count {
  color: #47a347; /* Default color for commit counts */
  background-color: #dff0d8; /* Default background color for commit counts */
}

/* Darker green for high commit counts */
#commits .list-group-item .commit-count.high {
  color: #155724;
  background-color: #c3e6cb;
}

/* Lighter green for less commit counts */
#commits .list-group-item .commit-count.less {
  color: #228b22;
  background-color: #e6f8e0;
}
